.Facture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.select {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.row-input {
    margin-bottom: 1rem;
}

.row-input-q {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.row-input-q .label {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.options-container {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;

}

.options-container .option {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    cursor: pointer;

}

.row-input-q .input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;

}

.register {
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}

.register span {
    color: #007bff;
    text-decoration: none;
}