.Fournisseur-container {
    margin-top: 100px;
    margin-left: 260px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    color: #333;
}

.Preview {
    flex: 1;
    /* Take up remaining space */
    margin-left: 20px;
    max-width: 50%;
    /* Set maximum width to half of the container */
}

.Preview .table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Preview .table .row {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.Preview .table .row:last-child {
    border-bottom: none;
}

.Preview .table .cell {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.Preview .table .cell:first-child {
    border-right: 1px solid #ccc;
}

.form {
    flex: 1;
    max-width: 50%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row-input {
    margin-bottom: 1rem;
}

.register {
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}

.register span {
    color: #007bff;
    text-decoration: none;
}


@media (max-width: 1120px) {
    .Fournisseur-container {
        margin: 35px;
        flex-direction: column;
        align-items: center;
    }

    .Preview,
    .form {
        max-width: 100%;
    }
}


@media (max-width: 915px) {
    .Fournisseur-container {
        margin: 35px;
        flex-direction: column;
        align-items: center;
    }
}