.Settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row-input {
    margin-bottom: 1rem;
}



.register {
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}

.register span {
    color: #007bff;
    text-decoration: none;
}