.stock-container {
    margin: 20px;
}

.stock-header {
    display: flex;
    float: right;
    margin: 20px;



}

.edit-btn {
    width: 71px;
    height: 32px;
    background-color: none;
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
}